<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nook.infrastructure.persistent.mapper.StrategyAwardMapper">

    <!-- Result Map for Strategy Award entity -->
    <resultMap id="StrategyAwardResultMap" type="org.nook.infrastructure.persistent.po.StrategyAward">
        <id property="id" column="id" />
        <result property="strategyId" column="strategy_id" />
        <result property="awardId" column="award_id" />
        <result property="awardTitle" column="award_title" />
        <result property="awardSubtitle" column="award_subtitle" />
        <result property="awardCount" column="award_count" />
        <result property="awardSurplus" column="award_surplus" />
        <result property="awardRate" column="award_rate" />
        <result property="awardModels" column="award_models" />
        <result property="sort" column="sort" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>






</mapper>
